<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/Site.css")" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" ></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.scrollToTop.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/anchor.js")"></script>
</head>
<body>
    <div id="top">
        <div id="head">Linq学习之旅</div>
        <div id="nav_menu">
            <a href="#" style="color:Red;">Start To Stuty LINQ:</a>
            <a href="/Linq/Restriction/" title="约束">Restriction</a>
            <a href="/Linq/Projection/" title="选择" >Projection</a>
            <a href="http://home.cnblogs.com/" title="分割">Partitioning</a>
            <a href="http://home.cnblogs.com/" title="排序">Ordering</a>
            <a href="http://home.cnblogs.com/" title="分组">Grouping</a>
            <a href="http://home.cnblogs.com/">Set</a>
            <a href="http://home.cnblogs.com/">Conversion</a>
            <a href="http://home.cnblogs.com/">Element</a>
            <a href="http://home.cnblogs.com/">Generation</a>
            <a href="http://home.cnblogs.com/">Quantifiers</a>
            <a href="http://home.cnblogs.com/">Aggregate</a>
            <a href="http://home.cnblogs.com/">Miscellaneous</a>
            <a href="http://home.cnblogs.com/">Custom Sequence</a>
            <a href="http://home.cnblogs.com/">Query Execution</a>
            <a href="http://home.cnblogs.com/">Join</a>
        </div>
    </div>
    <div id="main">
        @RenderBody()
    </div>
    <a href="#top" id="toTop"></a>
</body>
</html>
