<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/Site.css")" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" ></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.scrollToTop.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/anchor.js")"></script>
</head>
<body>
    <div id="top">
        <div id="head">
            <b>Linq学习之旅 - 杨良斌</b>
        </div>
        <div id="nav_menu">
            <a href="#" style="color:Yellow;"><b>Start To Stuty LINQ:</b></a>
            <a href="/Linq/Restriction/" title="约束">Restriction</a>
            <a href="/Linq/Projection/" title="选择" >Projection</a>
            <a href="/Linq/Partitioning/" title="分割">Partitioning</a>
            <a href="/Linq/Ordering/" title="排序">Ordering</a>
            <a href="/Linq/Grouping/" title="分组">Grouping</a>
            <a href="/Linq/Set/">Set</a>
            <a href="/Linq/Conversion/">Conversion</a>
            <a href="/Linq/Element/">Element</a>
            <a href="/Linq/Generation/">Generation</a>
            <a href="/Linq/Quantifiers/">Quantifiers</a>
            <a href="/Linq/Aggregate/">Aggregate</a>
            <a href="/Linq/Miscellaneous/">Miscellaneous</a>
            <a href="/Linq/CustomSequence/">Custom Sequence</a>
            <a href="/Linq/QueryExecution/">Query Execution</a>
            <a href="/Linq/Join/">Join</a>
        </div>
    </div>
    <div id="main">
        @RenderBody()
    </div>
    <a href="#top" id="toTop"></a>
</body>
</html>
